
<div id="posts" class="row">

    {% for product in products %}
        <div class="item web col-sm-3">
            <div class="product">
                <a href="javascript:void(0)" onclick="getProductDetail({{product['id']}});" >
                    <img class="img-responsive" src="{{asset('bundles/app/catalog_images/'~product['image'])}}" >
                    <p><b>{{product['name']}}</b></p>
                    <p>Price: {{product['price']}}</p>
                    SKU: {{product['sku']}}
                </a>
            </div>
        </div>
    {% endfor %}

</div>
